
.indhold {
	padding: 50px;
}

.header,  {
    background-color: grey;
    color: white;
    padding: 40px;
	 text-align: center;
}
.return {
	float: left;
	border: 3px solid #73AD21;
	padding: 1px;

	
}
.titel {
	border: 3px solid #73AD21;
	color: blue;
}	

.dropdown {
    position: relative;
    display: inline-block;
}




.meta {
    display: none;
    border:1px solid #521;
width:400px;    
height:autopx;
    
	float: bottom;


}
#meta:active {
	
	margin-top:500px;
}

a:hover + div {
    display: block;
}
. front {
	float: left;
	width: 200px;
    	height: auto;
	position: absolute;

}


